flows.json
[{"id":"f7b0e1f7.406e9","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"bde95252.17947","type":"watson-conversation-v1","z":"f7b0e1f7.406e9","name":"Resto Bot","workspaceid":"1a641065-96c4-4ab7-b6bf-a24315084bd6","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c8ab71b9-f019-4dee-ba32-a1eea9ed413d","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["6684f952.8c3188"]]},{"id":"ec763bc0.6e4868","type":"inject","z":"f7b0e1f7.406e9","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":100,"wires":[["bde95252.17947"]]},{"id":"220bfee8.077302","type":"debug","z":"f7b0e1f7.406e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":160,"wires":[]},{"id":"6684f952.8c3188","type":"function","z":"f7b0e1f7.406e9","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["220bfee8.077302","90aeee45.d53c3","f2343a4c.4e3158","2d4e397c.ad05b6"]]},{"id":"5980e43a.c602bc","type":"ui_form","z":"f7b0e1f7.406e9","name":"","label":"","group":"24b196da.82c3fa","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["bbff3b0a.3a74a8"]]},{"id":"bbff3b0a.3a74a8","type":"function","z":"f7b0e1f7.406e9","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["bde95252.17947","9e379d8.2fcc66"]]},{"id":"9e379d8.2fcc66","type":"ui_text","z":"f7b0e1f7.406e9","group":"24b196da.82c3fa","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"90aeee45.d53c3","type":"ui_text","z":"f7b0e1f7.406e9","group":"24b196da.82c3fa","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"f2343a4c.4e3158","type":"ui_audio","z":"f7b0e1f7.406e9","name":"","group":"24b196da.82c3fa","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"2d4e397c.ad05b6","type":"watson-translator","z":"f7b0e1f7.406e9","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"zlVFa11bPXIF8sxJ8gRigOWQXRxoXIZs3A5BEd6b0lBQ","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/e5c5ffad-2ec7-498a-94a3-43cbf54d75ea","x":710,"y":300,"wires":[["b17143fd.9f0e8"]]},{"id":"b17143fd.9f0e8","type":"debug","z":"f7b0e1f7.406e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":260,"wires":[]},{"id":"24b196da.82c3fa","type":"ui_group","z":"","name":"Chatbot","tab":"b1b230c5.b4aa9","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b230c5.b4aa9","type":"ui_tab","z":"","name":"Resto Bot","icon":"dashboard","disabled":false,"hidden":false}]